.starter {
  font-size: 18px;
}

.heading {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 72px;
  color: #14141E;
}

.title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 24px;
}
